* {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

nav>div {
  display: flex;
  flex-direction: row;
}

nav h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.header_logo_section {
  display: flex;
  flex-direction: row;
}

nav>ul {
  width: 15%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

Nav>ul>li {
  font-size: 1.25rem;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
}

footer {
  padding: 1rem;
  border-top: 1px solid black;
}